* {
	font-family: 'Vollkorn', serif;
	/*font-family: 'Paytone One', sans-serif;*/
	color: white;
	scroll-behavior: smooth;
	/*flex-wrap: wrap;*/
}

#title {
	color: navy;
}

#landing-jumbo {
	/*background-color: #6DCCDE;*/
	height: ;
	background-image: url("../images/landing-background.jpg");
	filter: grayscale(0%);
	/*background-color: rgba(18, 12, 58, .5);*/
	background-repeat: no-repeat;
	background-size: cover;
	/*border-bottom-width: 5px;
 	border-bottom-style: solid;
 	border-bottom-color: black;*/
 	text-align: center;
 	display: flex;
 	text-shadow: 0px 2px 0px #555;
 	
 	padding-top: 100px;
 	margin:0;
}

#landing-jumbo a:hover {
	text-decoration: none;
}

.shortcuts {
	text-decoration: none;
	color: black;
	/*margin-left: 100px;
	margin-right: 100px;*/
}

body {
	background-image: url("../images/ship.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#about {
	background: rgba(0, 0, 0, 0.8);
	text-align: justify;
	padding: 70px;
	max-width: 1200px;
}

#portfolio {
	background: rgba(255, 255, 255, 1);
	text-align: justify;
	padding: 70px;
	justify-content: center;
	max-width: 1200px;

}

#projects {
	display: flex;
	justify-content: center;
	max-width: 1200px;
}

#skills {
	background: rgba(220, 220, 220, .9);
	text-align: left;
	padding: 70px;
	max-width: 1200px;
}

#skills h1 {
	color: black;
}

#contact {
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
	padding: 70px;
	flex: flex-wrap;
	max-width: 1200px;
}

#contact-section {
	width: 500px;
 	clear: both;
  	display: flex;
}

#contact-section input {
  	width: 100%;
	clear: both;
	display: flex;
}

#portfolio h1, #portfolio p {
	color: black;
	text-align: center;
}

#profile-picture img {
	border-radius: 50%;
	width:450px;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}

/*#profile-picture {
	background: url("../images/me-xs.png") no-repeat center center; 
    height: 500px;
    background-size: contain;
    border-radius: 500%;
}*/

#profile-picture {
	height: auto;
}*

/*#row1 {
	vertical-align: middle;
}*/


#contact span {
	text-align: left;
}

span {
	color: black;
	font-family: 'Paytone One', sans-serif;
}

span:hover {
	color: green;
	filter: hue-rotate();	
}

.display-4, .lead {
	text-align: center;	
}

h1 {
	text-align: center;
	padding-bottom: 30px;
}

#navbar {
	position: sticky;
	top: 0;
	z-index:1;
	background-color: #343A40;
	/*border-bottom-width: 5px;
 	border-bottom-style: solid;
 	border-bottom-color: white;*/
 	height: 5vh;
 	text-align: center;
 	padding: 0;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.5);

}

#navbar a {
	text-decoration: none;
}

a:link, a:hover { 
	text-decoration: none;
	color: black;
}


#buttons {
	
}

/*#messagebox {
	height:200px;
}*/

footer {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	/*padding: 5px;*/
	background-color: white;
}

footer a, footer p {
	text-decoration: none;
	color: black;
}

input, textarea{
	color: white;
}

textarea {
	height: 100px;
}

input {
	width: 50px;

}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
}

h5 {
	text-align: center;
	padding-top: 20px;
}

.inputbox {
	width: 200px;
	display: block;
	background-color: rgba(0,0,0,0.1);
	border: none;
}

#contact p {
	margin: 0;
	line-height: 23px;
}

#forms {
	
}


.responsive-iframe {
	position: absolute;
	width: 100%;
	height: 60vh;
	border-radius: 40px;
}

#socialmedia {
	padding-top: 50px;
}

#facebook {
    background-image: url("../images/facebook.png");
}

#twitter {
	background-image: url("../images/twitter.png");
}

#instagram {
	background-image: url("../images/instagram.png");
}

#linkedin {
	background-image: url("../images/linkedin.png");
}

.social {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
    height: 100px;
    text-indent: -9999px;
}

.socialmediaclass {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	margin: 0px;
}

label {
	text-align: left;
}

.social:hover {
  transform: scale(1.5, 1.5);
  filter: opacity(50%);
  transition: 0.5s ease-in-out;
}

.portfoliopicture {
	filter: grayscale(100%);
	height: 50vh;
	border-radius: 40px;
	background-size: cover;
}

#band {
	background-image: url("../images/smallpic.png");
}

#music-video {
	background-image: url("../images/dontrun.jpg")
}

#brass {
	background-image: url("../images/brass.jpg")
}

#cpun {
	background-image: url("../images/CPUN.png");
	
}

#budgetControl {
	background-image: url("../images/budgetControl.png");
	
}

#theHex {
	background-image: url("../images/theHex.png");
}

.portfoliopicture:hover {
	transition: 0.5s ease-in-out;
	filter: grayscale(0%);
}



.navbar-nav li a {
	color:black;
}

.portfolio-text {

	color: black;
}

.portfolio-text:hover {
	color: navy;
}

.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
    height: 100px;
    text-indent: -9999px;
}

.tech-stack:hover {
	transform: scale(1, 1);
	filter: opacity(50%);
	transition: 0.5s ease-in-out;
}

#html {
	background-image: url("../images/html.png");
}

#css {
	background-image: url("../images/css.png")
}

#git {
	background-image: url("../images/git.png");
}

#bootstrap {
	background-image: url("../images/bootstrap.png")
}

#photoshop {
	background-image: url("../images/photoshop.png")
}

#premiere {
	background-image: url("../images/Premiere.png")
}

#jquery {
	background-image: url("../images/jquery.png")
}

#ableton {
	background-image: url("../images/ableton.png")
}

#canva {
	background-image: url("../images/canva.png")
}

#wordpress {
	background-image: url("../images/wordpress.png")
}

#js {
	background-image: url("../images/js.png")
}

#nodeJS {
	background-image: url("../images/nodejs.png")
}

#mongoDB {
	background-image: url("../images/mongoDB.png")
}

#reactjs {
	background-image: url("../images/reactjs.png")
}

#nextjs {
	background-image: url("../images/nextjs.png")
}

#technology {
	justify-content: center;
}

.btn {
	font-family: 'Paytone One', sans-serif;
}

#iframe-container {
	width: 100%;
	max-width: auto;
	padding-right: 150px !important;

}

.map-responsive {
	height: 80vh;
	justify-content: center;
}